.embla {
  --slide-spacing: 1rem;
  --slide-size: 80%;
  --slide-height: 15rem;
  padding: 1rem;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
}

.embla__slide_tech {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  /* padding-left: 10rem; */
  /* padding-right: 10rem; */
  /* padding-left: var(--slide-spacing); */
  position: relative;
}

.embla__slide__img {
  border-radius: 15px;
  display: block;
  /* height: var(--slide-height); */
  padding-right: 0rem;
  width: 100%;
  object-fit: cover;
}

.embla__slide__img_tech {
  display: block;
  height: 100px;
  padding-right: 0rem;
  width: auto;
  object-fit: cover;
}

.embla__slide__number {
  display: none;
}
.embla__slide__number > span {
  color: var(--brand-primary);
  background-image: linear-gradient(
    45deg,
    var(--brand-primary),
    var(--brand-secondary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.6rem;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
